certifi==2018.4.16
chardet==3.0.4
Django==2.2.12
gunicorn==19.6.0
idna==2.7
mysqlclient==1.3.12
olefile==0.44
pkg-resources==0.0.0
requests==2.19.1
setproctitle==1.1.10
urllib3==1.25.6
rocketchat-API==1.9.1
pysnmp==4.4.12
