{% block watch_all %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>history</title>
    <link rel="stylesheet" href="{% static '/css/history.css' %}">
  </head> 

<div class=back_but>
    <a href="/"><input class="back" type="submit" value="Вернуться в главное меню"/></a>
</div>
<div class="base">
  <table class="table">
    <thead class="table_head">
      <tr>
        <th class="col-1">Номер</th>
        <th class="col-1">ID заявки</th>
        <th class="col-1">Отправитель</th>
        <th class="col-1">Место</th>
        <th class="col-1">Дата поступления</th>
        <th class="col-2">Subject</th>
      </tr>
    </thead>
    <tbody class="table_body">
    {% for ticket in tickets %}
      <tr>
        <td class="col-1">{{ forloop.counter }}</td>
        <td class="col-1">{{ ticket.id }}</td>
        <td class="col-1">{{ ticket.who }}</td>
        <td class="col-1">{{ ticket.where }}</td>
        <td class="col-1">{{ ticket.when }}</td>
        <td class="col-2"><a href="{% url 'ticket:watch_one' ticket_id=ticket.id %}">{{ ticket.subject }}</a></td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}