{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '/css/57134.png' %}">
    <title>Support</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/ticket.css' %}">

</head>

{% block thanks %}

    <div class="spasibo">
        <p class="s1">Спасибо за обращение!</p>
        <p class="s2">Мы будем уведомлены о проблеме в кратчайшие сроки!</p>
        <a class="s3" href="/" type="button" class="btn btn-primary">На главную</a>
    </div>

{% endblock %}
