{% block watch_all %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>history</title>
    <link rel="stylesheet" href="{% static '/css/watch_one.css' %}">
  </head>
<div class=back_but>
    <a href="{% url 'ticket:watch_all' %}"><input class="back" type="submit" value="Назад"/></a>
</div>
<div class="info">
    <p class="when">Дата поступления:{{ ticket.when }}</p>
    <p class="where">Отдел:{{ ticket.where }}</p>
    <p class="who">Имя:{{ ticket.who }}</p>
    <p class="confirmed">Принято:{{ ticket.confirmed }}</p>
    <p class="finished">Готово:{{ ticket.finished }}</p>
    <p class="ip">Адресс:{{ ticket.ip }}</p>
    <p class="subject"><strong>{{ ticket.subject }}</strong></p>
</div>

<div class="button_ok">
    <a href="{% url 'ticket:finish' ticket_id=ticket.id %}" type="button" class="good">Готово!</a>

    <a href="{% url 'ticket:delete_row' ticket_id=ticket.id %}" type="button" class="delete">Архивировать.</a>
</div>


{% endblock %}
