{% extends 'main.html' %}

{% block test %}

    <div align="center" style="background-color: #afd9ee">
{#        <form action="{% url 'cart:test_event_add' %}" method="post">#}
{#            <table>#}
{#                {% csrf_token %}#}
{#                {{ formset.as_p }}#}
{#            </table>#}
{#            <input class="btn btn-success" type="submit" value="Submit" />#}
{#        </form>#}
    <p>This is fucking SPAAAAARTA!</p>
    <p>Here is just cruel</p>
    </div>
{% endblock %}
