{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>history</title>
    <link rel="stylesheet" href="{% static '/css/cart_home.css' %}">
  </head>


<div class="navigator">
    <ul>
        <li>
            <a href="{% url 'cart:cart_home' %}"><input class="back" type="submit" value="Вернуться в картриджи"/></a>
        </li>
    </ul>
</div> 

{% block watch_status %}
<div class="container-fluid">
    <table class="table">
        <thead class="table_head">
            <tr>
                <th class="col-md-3">Дата</th>
                <th class="col-md-2">Номер</th>
                <th class="col-md-3">Место</th>
                <th class="col-md-3">Статус</th>
{#                <th class="col-md-1">Extra</th>#}
            </tr>
        </thead>
    {% for stat in status %}
        <tbody class="table_body">
            <tr>
                <td class="col-md-3">{{ stat.last_datetime }}</td>
                <td class="col-md-2">{{ stat.num }}</td>
                <td class="col-md-3">{{ stat.place }}</td>
                <td class="col-md-3">{{ stat.status }}</td>
{#                <td class="col-md-1">#}
{#                    <a href="{% url 'cart:homecoming' num_id=event.num_id %}">Приехать</a>#}
{#                </td>#}
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
