{% extends 'base.html' %}

{% block login %}
    <div class="container" style="width: 30%">

      <form action="{% url 'loginsys:login'  %}" method="post" >
          {% csrf_token %}
        <h2 class="form-signin-heading">Авторизация</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">

        <button class="btn btn-lg btn-primary center" type="submit">Вход</button>
          <div class="btn center"><a href="{% url 'loginsys:register' %}">Регистрация</a></div>
{#        <a class="btn btn-lg btn-default center" href="login.html">Регистрация</a>#}
      </form>
    </div>
{% endblock %}
