.table_head{
	text-transform: uppercase;
}

.table_head td{
	background-color: #65f3f1;
	padding:10px;
	width: 500px;
}

.table_head td:first-child{
	border-top-left-radius: 10px;
}

.table_head td:last-child{
	border-top-right-radius: 10px;
}

.table_body td{
	background-color: #ffe795;
	padding:10px;
}

/* .table_body td:hover{
	 	background-color: #b5f364;
}  */