body{
	background-image: url(../i.mg/DSC_82964.png);
	background-position: top center;
	background-repeat: no-repeat;

}


.main_menu {
	background-color: rgba(255,255,255,0.7); 
	width: 30%;
	margin-top: 100px;
	padding-bottom: 50px;
	border-radius: 10px;
	border: 1px solid #23434a;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btn_msg{
	text-align: center;
}

.btn_msg_send{
	text-transform: uppercase;
	width: 95%;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	background-image: linear-gradient(#ecfbfa, #ccdbf3 50%, #cfe5ea);
	border: 1px solid #23434a;
	border-radius: 10px;
	background-color: #2f889a;
	transition: all 0.5s ease 0s;
}

.btn_msg_send_back{
	text-transform: uppercase;
	width: 90%;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	background-image: linear-gradient(#f79010, #eaad22 50%, #ff836f);
	border: 1px solid #23434a;
	border-radius: 10px;
	transition: all 0.5s ease 0s;

}

.btn_msg_send_back:hover{
	color: white;
	background: #ea3416;
	border: 1px solid #23434a;
}

.btn_msg_send:hover{
	color: white;
	background: #3f4ce8;
	border: 1px solid #23434a;
}

.btn_msg_send:active{
	background: #60bfd2 !important;
	border: 1px solid #60bfd2 !important;
}