{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>SUPPORT</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  </head> 
  <body>
  <div class="main_menu"></div> 

<div class="navigator">
    {% if username == 'mjee' %}
        {% if not_finished > 0 %}
            <div class="tickets_not_finished">
                <a href="{% url 'ticket:watch_all' %}"> {{ not_finished }}</a>
            </div>
        {% endif %}
    {% if new_tickets > 0 %}
            <div class="tickets_ready">
                <a href="{% url 'ticket:watch_all' %}"> {{ new_tickets }}</a>
            </div>
        {% endif %}
    {% endif %}

        <ul class="nav">
            {% if username == 'mjee' %}
                <li class="list">
                    <a href="{% url 'ticket:watch_all' %}">Заявки</a>
                </li>

                <li>
                    <a href="{% url 'ticket:history' %}">Архив</a>
                </li>
                <li>
                    <a href="{% url 'cart:cart_home' %}">Картриджи</a>
                </li>
            {% endif %}
                <li>
                    <a class="blink" href="{% url 'you_tube' %}"> (✖╭╮✖) Видео ( ͡° ͜ʖ ͡°)</a>
                </li>
            {% if username %}
            	<li class="">
               		 <a href="{% url 'loginsys:logout' %}">Выйти</a>
           		 </li>
            {% elif not username %}
                <li class="login">
                    <a href="{% url 'loginsys:login' %}">Login</a>
                </li>
            {% endif %}
        </ul> 

{#<div>#}
{#    {% if username %}#}
{#        <p>Logged</p>#}
{#    {% else %}#}
{#        <p>Nonlogged</p>#}
{#    {% endif %}#}
{#</div>#}

{% block watch_all %}{% endblock %}
{% block cart_event_form %} {% endblock %}
{% block form %}{% endblock %}
{% block watch_one %}{% endblock %}
{% block login %}{% endblock %}
{% block thanks %}{% endblock %}
{% block test %}{% endblock %}
{% block watch_one_num %}{% endblock %}
{% block watch_status %}{% endblock %}
{% block watch_place %}{% endblock %}
{% block watch_model %}{% endblock %}
{% block group_ops %}{% endblock %}
{% block register %}{% endblock %}
{% block uploadPic %}{% endblock %}
</div>

</body>












    <div class="footer">
            <div class="tecket">
                <a href="/tickets/">
                    <input class="btn_msg_send" type="submit" value="Отправить заявку в it"/>
                </a>
            </div>
              
            <div class="contact">
                <a href="/contacts/">
                    <input class="btn_msg_send" type="submit" value="Адресная книга"/>
                </a>
            </div>
        <div class="logo"></div>  
    </div>

</html>