
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>youtube</title>
    <link rel="stylesheet" href="{% static '/css/you_tube.css' %}">
    <link rel="stylesheet" href="{% static '/css/history.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  </head> 
  <body>
    <div class="back_but">
    <a href="/"><input class="back" type="submit" value="Вернуться в главное меню"/></a>
    </div>
   
      
<div class="video">
  <div class="video_head">ANSERGLOB - AXIOM OF QUALITY</div>
  	<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-zL9SoyOIBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
   <div class="video_info">Відео про торгову марку ANSERGLOB - українського виробника будівельних матеріалів незмінно високої якості. Ви можете побачити як створюють матеріали від розробки у лабораторії до виробництва.</div>
</div>   

<div class="video">
  <div class="video_head">ANSERGLOB вітає з Днем Прапора України</div>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9ztgDqZUoJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video_info">Колектив групи компаній ANSERGLOB вітає з Днем Прапора та Днем Незалежності України!
    Кожен рік на День Державного Прапора України ми урочисто підіймаємо новий прапор України перед нашим офісом, щоб кожен день він спонукав нас на нові досягнення і звершення!</div>
</div>
<div class="video">
   <div class="video_head">День народження ANSERGLOB 2018</div>
<div class="video-container">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/xO02MBu3NGE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 
    <div class="video_info">Відео з нашего 22-го дня народження! Дякуємо усім, хто нас обирає! Ми вдосконалюємось для Вас!</div>
</div>
 
  





  	
  </body>

  </html>