{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block albums %}

<script type="text/javascript">
$( function() {
    $( '#gallery' ).jGallery({ mode: 'full-screen' });
} );
</script>

<div>
    {% if username %}
        <div class="btn btn-lg">
            <a href="{% url 'loginsys:logout' %}">Выйти {{ username }}</a>
        </div>
    {% else %}
        <div class="button">
            <a href="{% url 'loginsys:login' %}">Войти</a>
        </div>
    {% endif %}
</div>

<div id="gallery">
    <div class="album" data-jgallery-album-title="Пейзаж">
        {% for item in landscape %}
            <a href="{{ item.photo.url }}"><img src="{{ MEDIA_URL}}{{item.get_image_200x200.url }}" alt="{{ item.title }}" /></a>
        {% endfor %}
    </div>

    <div class="album" data-jgallery-album-title="Юмор">
        {% for item in humor %}
            <a href="{{ item.photo.url }}"><img src="{{ MEDIA_URL}}{{item.get_image_200x200.url }}" alt="{{ item.title }}" /></a>
        {% endfor %}
    </div>

    <div class="album" data-jgallery-album-title="Разное">
        {% for item in other %}
            <a href="{{ item.photo.url }}"><img src="{{ MEDIA_URL}}{{item.get_image_200x200.url }}" alt="{{ item.title }}" /></a>
        {% endfor %}
    </div>
</div>

{% endblock %}
