{% extends 'main.html' %}


{% block form %}
<div class="container">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div>
            <p class="text-center" style="padding-top: 40px; font-size: 1.4em">
                Конкурс мобильной фотографии «Краски жизни»<br>
            </p>
            <p class="text-left" style="padding-top: 40px; font-size: 1.2em">
            </p>

            <p class="text-center" style="padding-top: 10px; font-size: 1.4em">Правила конкурса:</p>

            <p class="text-left" style="font-size: 1.2em">
                0. Принять участие в конкурсе может любой сотрудник нашего предприятия
            </p>
            <p class="text-left" style="font-size: 1.2em">

                1. Каждому участнику предоставляется возможность загрузить до 9ти фотографий, сделанных фотокамерой <strong>мобильного телефона</strong> и являющихся собственностью автора.</p>
            <p class="text-left" style="font-size: 1.2em">
                2. Работы принимают участие в трёх номинациях:<br>- Пейзаж<br>- Юмор<br>- Разное
            </p>
            <p class="text-left" style="font-size: 1.2em">
                3. Загрузка и голосование происходит только при наличии регистрации. Просмотр работ возможен без регистрации.</p>
            <p class="text-left" style="font-size: 1.2em">
                4. Фотографии  можно предоставлять в одной или во всех номинациях. Главное, чтоб их общее количество было не больше 9ти.
            </p>
            <p class="text-left" style="font-size: 1.2em">
                5. Решения о присвоении работам статуса «Победитель в номинации» принимаются по итогам всеобщего онлайн-голосования сотрудников нашей фирмы.
            </p>
            <p class="text-left" style="font-size: 1.2em">
                6. Объявление победителей конкурса будет после окончания конкурса и проведения подсчета голосов.
            </p>
            <p class="text-left" style="font-size: 1.2em">
                7. Голосовать может только зарегистрированный участник, путем нажатия на кнопку "Голосовать", под фотографией. Кнопка появится в день начала голосования.
                У каждого зарегистрированного участника есть возможность проголосовать за пять работ. Голосование анонимное.
            </p>
            <p class="text-center" style="padding-top: 15px; font-size: 1.4em">Основные этапы конкурса</p>
            <p class="text-left" style="font-size: 1.2em">
                1. Прием работ с 19.10.2017 по 31.10.2017.
            </p>
            <p class="text-left" style="font-size: 1.2em">
                2. Голосование будет проходить с 25.10.2017 по 01.11.2017(включительно).
            </p>
        </div>
        <div class="text-center" style="margin-top: 5%; margin-bottom: 25%">
            <a class="btn btn-success" href="{% url 'polls:homepage' %}">Перейти в галлерею</a>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
{% endblock %}
