{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block votePage %}
{% if likesLast > 5 %}
    <div class="navbar-fixed-top text-center" style="font-size: 1.2em; color: green;">Голосов осталось: <strong>{{ likesLast }}</strong></div>
{% elif likesLast > 3 and likesLast <= 5 %}
    <div class="navbar-fixed-top text-center" style="font-size: 1.2em; color: yellow;">Голосов осталось: <strong>{{ likesLast }}</strong></div>
{% else %}
    <div class="navbar-fixed-top text-center" style="font-size: 1.2em; color: red;">Голосов осталось: <strong>{{ likesLast }}</strong></div>
{% endif %}
<div style="background-color: rgba(202,248,250,0.35); width: 100%; position: absolute; top: 20px; left: 20px; overflow: auto">
    {% for pic in pics %}
        <div style="display: inline-block; padding-left: 10px; padding-top: 20px">
            <a href="{{ pic.photo.url }}"><img style="display: block; border-radius: 20%" src="{{ pic.get_image_200x200.url }}"/></a>
            <div class='text-center' style='width: 200px;'>{{ pic.title }}</div>
            <div style="padding-left: 35px">Голосов: {{ pic.like }}</div>
            <a href="{% url 'polls:vote' picId=pic.id %}" class="btn-success" style="border-radius: 20px; margin-left: 45px; padding-left: 10px; padding-right: 10px">Голосовать</a>
        </div>
    {% endfor %}

</div>

{% endblock %}
