body{
	margin: 0px;
	padding: 0px;
}

.main_menu{
	display: block;
	background-image: url(../img/back.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 850px;
}

ul,li{
	display: inline;
}

.nav li a,
.tickets_not_finished a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

.nav li a.blink{
	-webkit-animation: blink 1s linear infinite;
  	animation: blink 1s linear infinite;
}

@-webkit-keyframes blink { 
	20% { color: #F00; }
	50% { color: #FBB; }
	80% { color: #F00; }
}

@keyframes blink {  
	20% { color: #F00; }
	50% { color: #FBB; }
	80% { color: #F00; } 
}

.nav li a:hover{
	color: #6f75c1;
}

.nav{
 	list-style: none;
}

.navigator{
	position: absolute;
	top:20px;
	right:100px;
}

.contact{
	display: block;
	position: absolute;
	width: 25%;
	top:-40px;
	left:5%;
	
}

.tecket{
	display: block;
	position: absolute;
	width: 25%;
	top:-40px;
	right:5%;
}


.btn_msg_send{
	text-transform: uppercase;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Comfortaa', cursive;
	font-size: 1.6vw;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(#ecfbfa, #ccdbf3 50%, #cfe5ea);
	border: 1px solid #23434a;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

.btn_msg_send:hover{
	color: white;
	background: #3f4ce8;
	border: 1px solid #23434a;
}

.btn_msg_send:active{
	background: #60bfd2 !important;
	border: 1px solid #60bfd2 !important;
}


.footer{
	background-color: #5f5c58;
	height: 120px;
	width: 100%;
	position: fixed;
	bottom:0;
	border:1px solid black;
	border-bottom: none;
}

.logo{
	background-image: url(../img/ANSERGLOB.png); 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;    /* волшебство адаптивности */
	background-color:#5f5c58;
	height: 100%;
	border-radius: 5px 5px 0 0;
	border:1px solid black;
	border-bottom: none;
	position: absolute;
	left: 32%;
	right: 32%;
	top: -40px;	
}

.tickets_not_finished{
	display: inline-block;
	border: 1px solid black;
	border-radius: 50px;
	background-color: #ecb629;
	text-align: center;
	padding: 4px 8px 4px 8px;
	position: relative;
	left: 140px;
	top:15px;
}

.tickets_not_finished a,
.tickets_ready a{
	color: white;
	margin: 0;
}

.tickets_ready{
	display: inline-block;
	border: 1px solid black;
	border-radius: 50px;
	background-color: #ec3d3d;
	text-align: center;
	padding: 4px 8px 4px 8px;
	position: relative;
	left: 140px;
	top:15px;
}

