body{
	display: block;
	background: linear-gradient(#3e49ce, #23a9d2 50%, #ffffff) no-repeat;
	overflow: auto;
}

.table_head,
.back{
	text-transform: uppercase;
}

.table_head td{
	background-color: #65f3f1;
	padding:10px;
	width: 500px;
}

.table_head td:first-child{
	border-top-left-radius: 10px;
}

.table_head td:last-child{
	border-top-right-radius: 10px;
}

.table_body td{
	background-color: #ffe795;
	padding:10px;
}

.back {
	color:#000;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 20%;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	border-style: none;
	transition: all 0.5s ease 0s;
}

.back_but{
	text-align: center;
}

.back:hover{
	background-color: #dc3b4a;
}

